rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/pin { allow read, write: if true; }
    match /items/{itemId} { allow read, write: if true; }
    match /barcodes/{barcode} { allow read, write: if true; }
  }
}
